*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
::selection{
    background: #006241;
    color: #fff;
}
.header{
    background: #006241;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.header__logo{
    width: 30px;
}
.header__nav, .header__login{
    display: none;
}
.header__container-login{
    display: none;
}
.header__container-user-mobile{
    color: #fff;
    font-size: 25px;
}
.main{
    padding: 15px 15px 60px;
    margin-top: 60px;
}
.main__imagen{
    display: none;
}
.main__titulo{
    font-size: 50px;
    line-height: 1.2;
}
.main__titulo span{
    color: #006241;
}
.main__parrafo{
    font-weight: bolder;
}
.main__container-titulo-parrafo{
    display: flex;
    flex-direction: column;
}
.gallery{
    background: #006241;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallery__img{
    width: 85%;
    margin-top: 15px;
}
.contact{
    background: #0c0c0c;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact__titulo{
    font-size: 35px;
    color: #006241;
    text-align: center;
    margin-bottom: 25px;
}
.contact__form{
    background: #006241;
    color: #fff;
    padding: 15px;
    width: 280px;
}
.contact__campos label{
    font-size: 14px;
}
.contact__campos{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.contact__campos input::placeholder,
.contact__campos textarea::placeholder{
    font-size: 12px;
    color: #006241;
    font-weight: bolder;
}
.contact__campos input,
.contact__campos textarea{
    padding: 5px;
    border-radius: 7.5px;
    border: 0;
}
.contact__campos input:focus,
.contact__campos textarea:focus{
    background: #0c0c0c;
    color: #fff;
}
.contact_btn{
    background: inherit;
    border: 1px solid #fff;
    color: #fff;
    width: 45%;
    margin-top: 20px;
    border-radius: 7.5px;
    padding: 4px 0;
    transition: all 1s;
}
.contact_btn:hover{
    background: yellow;
    border: 1px solid yellow;
}
.cards{
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards__container-card{
    background: #006241;
    margin-top: 45px;
    color: #fff;
    position: relative;
    width: 85%;
}
.cards__card-imagen{
    width: 100%;
}
.cards__card-titulo span{
    color: yellow;
}
.cards__card-texto{
    padding: 15px 5px;
}
.cards__card-descripcion{
    font-size: 14px;
    margin: 7.5px 0 15px;
}
.cards__card-boton{
    background: inherit;
    border: 1px solid #fff;
    color: #fff;
    font-size: 13px;
    width: 100px;
    margin-top: 5px;
    border-radius: 7.5px;
    padding: 5px 10px;
    transition: all 1s;
    text-decoration: none;
}
.cards__card-boton:hover{
    background: yellow;
    border: 1px solid yellow;
}
.cards__container-boton{
    display: flex;
    flex-direction: column;
}
.cards__container-boton a {
    width: 170px;

}
.cards__card-circulo{
    background: yellow;
    width: 50px;
    height: 50px;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: -20px;
}